<!-- -->
<launch>

    <arg name="resolution_ratio" default="0.23" />

    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />


    <node pkg="adeye" type="camera_gmsl_publisher" name="camera_gmsl_publisher" respawn="true" >
        <param name="resolution_ratio" type="double" value="$(arg resolution_ratio)"/>
    </node>




</launch>
