<launch>
    <node
        type="manager.py"
        pkg="adeye"
        name="manager"
        respawn="false"
        output="screen"
    />
    <rosparam>
        use_sim_time: false
    </rosparam>

    <!-- Parameter for FOV shrink functionality -->
    <arg name="FOV_shrink" default="true"/>

    <!-- FOV_shrinker node to keep the middle 32 beams -->
    <node
        pkg="adeye"
        type="FOV_shrinker.py"
        name="FOV_shrinker"
    >
        <param name="debug" value="true"/>
        <param name="start_beam" value="30"/>
        <param name="end_beam" value="40"/>



    </node>

    <!-- Modified lidar_timestamp_update to use conditional input topic based on FOV_shrink parameter -->
    <group if="$(arg FOV_shrink)">
        <node
            pkg="adeye"
            type="lidar_timestamp_update.py"
            name="lidar_timestamp_update"
        >
            <remap from="/os_cloud_node/points" to="/os_cloud_node/ROI_points"/>
        </node>
    </group>

    <group unless="$(arg FOV_shrink)">
        <node
            pkg="adeye"
            type="lidar_timestamp_update.py"
            name="lidar_timestamp_update"
        >
            <!-- Uses the original points topic by default -->
        </node>
    </group>

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="link1_broadcaster"
        args="101 -1 0 0 0 -0.1097783 0.9939561 map map_temp 100"
    />
    <node
        pkg="topic_tools"
        type="relay"
        name="relay_velocity"
        args="/current_velocity_phy /current_velocity"
    />
    <include file="$(find adeye)/launch/my_goal.launch"/>

</launch>