<!-- -->
<launch>

    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />



    <node pkg="adeye" type="camera_gmsl_publisher" name="camera_gmsl_publisher" respawn="true" >
        <param name="resolution-ratio" value="1"/>
    </node>




</launch>
