<!-- -->
<launch>

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <rosparam>
        use_sim_time: false
    </rosparam>

    <node pkg="adeye" type="camera_gmsl_publisher" name="camera_gmsl_publisher" respawn="true"/>

    <include file="$(find ouster_ros)/ouster.launch">
        <arg name="sensor_hostname" value="os-122132000155.local"/>
        <arg name="metadata" value="/home/adeye/ouster-metadata.json"/>
    </include>

</launch>
